.accordion .card .card-header {
    padding:0;
    background-color: whitesmoke;
    border: '1px solid rgba(0, 0, 0, .125)';
    box-shadow: 'none';
}
.marginlabel {
    margin-right:5px;
    display:inline-block;
    font-weight: bold;
}