.accordion .card .card-header {
    padding:0;
    background-color: whitesmoke;
    border: '1px solid rgba(0, 0, 0, .125)';
    box-shadow: 'none';
}
.marginlabel {
    margin-right:5px;
    display:inline-block;
    font-weight: bold;
}
.card-sampletext {
    display: flex;
    margin-top: 14px;
    justify-content: space-between;
    vertical-align: middle;
}

.btn-gray{
    background-color:#6c757d;
    border-radius: 4px;
    color: #FFF;
}
.btn-gray:hover{background-color: #545b63; color: rgb(235, 235, 235);}

.word-info{
    text-overflow: ellipsis;
    line-height:20px;
    height:40px;
    width:200px;
    padding-left: 4px;
    border-left: 1px solid rgb(97, 97, 97);
    overflow:hidden;
    white-space: pre;
}